@{
}

<div class="text-center">
    <h3 class="display-6">Division calculator</h3>
    <p>This is a page to show the result of dividing two values!</p>
</div>




<b></b>
<p>Number 1: @ViewBag.x</p>
<p>Number 2: @ViewBag.y</p>

<b></b>
<p> The answer for @ViewBag.x / @ViewBag.y is: @ViewBag.Answer </p>







